{% extends "base.html" %}
{% block content %}

<h2>Seu Carrinho 🛒</h2>

{% if itens|length == 0 %}
    <p>Seu carrinho está vazio.</p>
{% else %}
    <ul>
    {% for item in itens %}
        <li>
            <strong>{{ item[1] }}</strong> — 
            R$ {{ '%.2f'|format(item[3]) }}
        </li>
        <li>
            {{ item[1] }} — R$ {{ "%.2f"|format(item[3]) }}

            <form action="{{ url_for('remove_from_cart', id=item[0]) }}" method="POST" style="display:inline;">
            <button type="submit">Remover</button>
            </form>
        </li>

    {% endfor %}
    </ul>

    <h3>Total: R$ {{ '%.2f'|format(total) }}</h3>

    <a href="/checkout">
        <button>Finalizar Pedido</button>
    </a>
{% endif %}

{% endblock %}
