{% extends "base.html" %}
{% block content %}

<h2>Catálogo de Cupcakes</h2>

<div class="grid">
    {% for cupcake in cupcakes %}
    <div class="card">
        <img src="{{ cupcake[4] }}" alt="Cupcake">

        <h3>{{ cupcake[1] }}</h3>

        <p>{{ cupcake[2] }}</p>

        <p class="price">R$ {{ cupcake[3] }}</p>

        <form action="/add_to_cart/{{ cupcake[0] }}" method="post">
            <button>Adicionar ao Carrinho</button>
        </form>
    </div>
    {% endfor %}
</div>

{% endblock %}
