{% extends "base.html" %}
{% block content %}

<h2>Catálogo de Cupcakes 🧁</h2>

<div class="grid">
    {% for cup in cupcakes %}
    <div class="card">
        <img src="{{ cup[4] }}" alt="{{ cup[1] }}">

        <h3>{{ cup[1] }}</h3>
        <p>{{ cup[2] }}</p>
        <strong>R$ {{ "%.2f"|format(cup[3]) }}</strong>

        <form action="{{ url_for('add_to_cart', id=cup[0]) }}" method="POST">
            <button type="submit">Adicionar ao carrinho</button>
        </form>
    </div>
    {% endfor %}
</div>

{% endblock %}
